{{ define "content" }}
<h4 class="center-align">We maintain these projects</h4>

<div class="row wrap center-align">
    {{ range where site.RegularPages "Type" "=" "projects" }}
    <article class="medium-width left-align">
        <div class="row">
            <img class="large" src="{{ relURL (printf "logos/%s" .Params.icon) }}">
            <div class="max">
                <h5>{{ .Params.name }}</h5>
                <p>{{ .Params.description }}</p>
            </div>
        </div>
        <nav>
            <a href="{{ .RelPermalink }}" class="light-blue-border button border center">
                More
                <svg viewbox="0 0 48 48" class="material-symbol">
                    <path
                        d="M22.95 38.9q-.4-.4-.4-1.05t.4-1.05l11.3-11.3H9.5q-.65 0-1.075-.425Q8 24.65 8 24q0-.65.425-1.075Q8.85 22.5 9.5 22.5h24.75l-11.3-11.3q-.4-.4-.4-1.075 0-.675.4-1.075.4-.4 1.05-.4t1.05.4l13.9 13.9q.25.25.35.5.1.25.1.55 0 .25-.1.525t-.35.525l-13.9 13.9q-.4.4-1.05.375-.65-.025-1.05-.425Z" />
                </svg>
            </a>
        </nav>
    </article>
    {{ end }}
</div>
{{ end }}