{{ define "title" }}{{ .Params.name }}{{ end }}
{{ define "heading" }}{{ .Params.name }}{{ end }}

{{ define "content" }}
<div class="medium-space"></div>
<img class="small-width small-height center" src="{{ relURL (printf "logos/%s" .Params.icon) }}">
<h3 class="center-align">{{ .Params.name }}</h3>

<p class="large-text center-align">
    {{ .Params.description }}
</p>

{{ with .Params.downloads }}
<div class="medium-space"></div>
<h4 class="center-align">Downloads</h4>
<nav class="row center-align wrap">
    {{ with .fdroid }}
    <a href="https://{{ . }}" class="light-blue button" target="_blank" rel="noopener">
        F-Droid
        <svg viewbox="0 0 48 48" class="material-symbol">
            <path
                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
        </svg>
    </a>
    {{ end }}
    {{ with .gplay }}
    <a href="https://{{ . }}" class="border button" target=" _blank" rel="noopener noreferrer nofollow">
        Google Play
        <svg viewbox="0 0 48 48" class="material-symbol">
            <path
                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
        </svg>
    </a>
    {{ end }}
</nav>
{{ end }}

{{ with .Params.domains }}
<div class="medium-space"></div>
<h4 class="center-align">Domains</h4>
<p class="center-align">You can use one of these</p>
<div class="row vertical center-align">
    {{ range . }}
    <a href="https://{{ . }}" class="border chip" target="_blank" rel="noopener nofollow">
        {{ . }}
        <svg viewbox="0 0 48 48" class="material-symbol">
            <path
                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
        </svg>
    </a>
    {{ end }}
</div>
{{ end }}

{{ with .Resources.Match "screenshots/*" }}
<div class="medium-space"></div>
<h4 class="center-align">Screenshots</h4>
<div class="row scroll">
    {{ range . }}
    <img src="{{ . }}" class="medium-height">
    {{ end }}
</div>
{{ end }}

<div class="medium-space"></div>

{{ with .GetPage (printf "%s/%s/%s" "docs" .Params.name "faq") }}
<article class="medium-width left-align center">
    <div class="row">
        <svg viewbox="0 0 48 48" class="material-symbol square medium">
            <path
                d="M27.1 24.7q.45 0 .8-.325.35-.325.45-.825.15-.8.55-1.4.4-.6 1.4-1.55 1.35-1.3 1.875-2.275.525-.975.525-2.275 0-2.3-1.575-3.75Q29.55 10.85 27 10.85q-1.6 0-2.95.725T21.9 13.65q-.25.4-.05.875t.7.725q.4.2.9.025.5-.175.8-.625.55-.75 1.225-1.125T27 13.15q1.5 0 2.425.85.925.85.925 2.15 0 1-.45 1.75t-1.6 1.6q-1.3 1.2-1.775 1.975-.475.775-.575 2.075-.05.5.3.825.35.325.85.325Zm.05 6.3q.85 0 1.45-.6t.6-1.45q0-.85-.6-1.45t-1.45-.6q-.85 0-1.45.6t-.6 1.45q0 .85.6 1.45t1.45.6ZM13 38q-1.2 0-2.1-.9-.9-.9-.9-2.1V7q0-1.2.9-2.1.9-.9 2.1-.9h28q1.2 0 2.1.9.9.9.9 2.1v28q0 1.2-.9 2.1-.9.9-2.1.9Zm0-3h28V7H13v28Zm-6 9q-1.2 0-2.1-.9Q4 42.2 4 41V11.5q0-.65.425-1.075Q4.85 10 5.5 10q.65 0 1.075.425Q7 10.85 7 11.5V41h29.5q.65 0 1.075.425Q38 41.85 38 42.5q0 .65-.425 1.075Q37.15 44 36.5 44Zm6-37v28V7Z" />
        </svg>
        <div class="max">
            <h5>FAQ</h5>
            <p>Frequently Asked Questions</p>
            <nav>
                <a href="{{ .RelPermalink }}" class="border chip">
                    Open
                </a>
            </nav>
        </div>
    </div>
</article>
{{ end }}

{{ with .GetPage (printf "%s/%s" "docs" .Params.name) }}
<article class="medium-width left-align center">
    <div class="row">
        <svg viewbox="0 0 48 48" class="material-symbol square medium">
            <path
                d="M28 17.6q0-.3.2-.575.2-.275.45-.375 1.5-.55 3.075-.85 1.575-.3 3.275-.3 1.1 0 2.15.125 1.05.125 2.05.375.3.1.55.375.25.275.25.625 0 .55-.375.85-.375.3-.925.15-.85-.25-1.775-.375Q36 17.5 35 17.5q-1.45 0-2.8.275-1.35.275-2.65.825-.7.25-1.125-.025Q28 18.3 28 17.6Zm0 11q0-.3.2-.6t.45-.4q1.5-.55 3.075-.825Q33.3 26.5 35 26.5q1.1 0 2.15.125 1.05.125 2.05.375.3.1.55.375.25.275.25.625 0 .55-.375.85-.375.3-.925.15-.85-.25-1.775-.375Q36 28.5 35 28.5q-1.45 0-2.8.25-1.35.25-2.65.8-.7.25-1.125 0Q28 29.3 28 28.6Zm0-5.5q0-.3.2-.575.2-.275.45-.375 1.5-.55 3.075-.85Q33.3 21 35 21q1.1 0 2.15.125 1.05.125 2.05.375.3.1.55.375.25.275.25.625 0 .55-.375.85-.375.3-.925.15-.85-.25-1.775-.375Q36 23 35 23q-1.45 0-2.8.275-1.35.275-2.65.825-.7.25-1.125-.025Q28 23.8 28 23.1ZM12.4 33q2.7 0 5.225.625 2.525.625 4.975 1.875V14.15q-2.25-1.5-4.875-2.325Q15.1 11 12.4 11q-1.9 0-3.725.475Q6.85 11.95 5 12.65v21.7q1.55-.7 3.525-1.025Q10.5 33 12.4 33Zm13.2 2.5q2.5-1.25 4.9-1.875Q32.9 33 35.6 33q1.9 0 3.925.3t3.475.8V12.65q-1.7-.85-3.6-1.25-1.9-.4-3.8-.4-2.7 0-5.225.825-2.525.825-4.775 2.325ZM13.8 23.55Zm10.3 15.9q-.4 0-.725-.075-.325-.075-.575-.275-2.35-1.45-5-2.25t-5.4-.8q-1.85 0-3.6.45t-3.5 1.1q-1.15.55-2.225-.15Q2 36.75 2 35.45V12.3q0-.75.35-1.375T3.4 9.95q2.1-1 4.375-1.475Q10.05 8 12.4 8q3.15 0 6.125.85t5.575 2.6q2.55-1.75 5.475-2.6Q32.5 8 35.6 8q2.35 0 4.6.475 2.25.475 4.35 1.475.7.35 1.075.975T46 12.3v23.15q0 1.4-1.125 2.125-1.125.725-2.225.025-1.7-.7-3.45-1.125-1.75-.425-3.6-.425-2.7 0-5.3.8-2.6.8-4.9 2.25-.25.2-.575.275-.325.075-.725.075Z" />
        </svg>
        <div class="max">
            <h5>Documentation</h5>
            <nav>
                <a href="{{ .RelPermalink }}" class="border chip">
                    Open
                </a>
            </nav>
        </div>
    </div>
</article>
{{ end }}

{{ with .Params.translations }}
<article class="medium-width left-align center">
    <div class="row">
        <svg viewbox="0 0 48 48" class="material-symbol square medium">
            <path
                d="M26.55 44q-1.15 0-1.675-.75-.525-.75-.125-1.85l7.35-19.5q.3-.8 1.1-1.35t1.65-.55q.85 0 1.675.55.825.55 1.125 1.35l7.5 19.3q.45 1.15-.1 1.975Q44.5 44 43.2 44q-.55 0-1.05-.35t-.7-.9L39.8 37.7h-9.6l-1.9 5.1q-.2.5-.7.85-.5.35-1.05.35Zm4.75-9.8h7.1l-3.5-9.7h-.1ZM14.45 17.1q.75 1.3 1.65 2.525.9 1.225 1.95 2.525 2.25-2.35 3.75-4.875T24.35 12H4q-.85 0-1.425-.575Q2 10.85 2 10q0-.85.575-1.425Q3.15 8 4 8h12V6q0-.85.575-1.425Q17.15 4 18 4q.85 0 1.425.575Q20 5.15 20 6v2h12q.85 0 1.425.575Q34 9.15 34 10q0 .85-.575 1.425Q32.85 12 32 12h-3.65q-1.1 3.45-2.925 6.775Q23.6 22.1 20.95 25.1l4.9 4.95-1.5 4.05L18 28l-8.65 8.65q-.55.55-1.35.55t-1.35-.6q-.6-.55-.6-1.35t.6-1.4l8.8-8.8q-1.3-1.55-2.45-3.125-1.15-1.575-2.1-3.225-.6-1.1-.1-1.9.5-.8 1.8-.8.55 0 1.075.325.525.325.775.775Z" />
        </svg>
        <div class="max">
            <h5>Translations</h5>
            <p>Translate {{ $.Params.name }} into your language.</p>
            <div class="small-space"></div>
            <p class="italic small-text">{{ . }}</p>
            <nav>
                <a href="https://{{ . }}" class="border chip" target="_blank" rel="noopener">
                    Open
                    <svg viewbox="0 0 48 48" class="material-symbol">
                        <path
                            d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
                    </svg>
                </a>
            </nav>
        </div>
    </div>
</article>
{{ end }}

{{ with .Params.issues }}
<article class="medium-width left-align center">
    <div class="row">
        <svg viewbox="0 0 48 48" class="material-symbol square medium">
            <path
                d="M24 42q-3.25 0-6.05-1.55T13.8 36H9.45q-.6 0-1.025-.45Q8 35.1 8 34.5q0-.65.425-1.075Q8.85 33 9.5 33h3.1q-.35-1.3-.35-2.625V27.7H9.4q-.6 0-1.025-.45-.425-.45-.425-1.05 0-.65.425-1.075Q8.8 24.7 9.45 24.7h2.8q0-1.45.025-2.875T12.7 19H9.45q-.6 0-1.025-.45Q8 18.1 8 17.5q0-.65.425-1.075Q8.85 16 9.5 16H14q.7-1.4 1.85-2.45Q17 12.5 18.4 11.8l-2.9-2.85q-.4-.4-.375-.975.025-.575.425-.975.4-.4 1-.4t1 .4l3.7 3.7q1.4-.5 2.825-.5 1.425 0 2.825.5l3.75-3.75q.4-.4.975-.375.575.025.975.425.4.4.4 1t-.4 1l-2.8 2.8q1.4.7 2.475 1.775Q33.35 14.65 34.15 16h4.45q.6 0 1.025.45.425.45.425 1.05 0 .65-.425 1.075Q39.2 19 38.55 19H35.3q.45 1.4.425 2.825Q35.7 23.25 35.7 24.7h2.9q.6 0 1.025.45.425.45.425 1.05 0 .65-.425 1.075-.425.425-1.075.425H35.7q0 1.35.025 2.675Q35.75 31.7 35.4 33h3.2q.6 0 1.025.45.425.45.425 1.05 0 .65-.425 1.075Q39.2 36 38.55 36h-4.3q-1.3 2.95-4.125 4.475Q27.3 42 24 42Zm0-3q3.6 0 6.15-2.525 2.55-2.525 2.55-6.125V22q0-3.6-2.55-6.125T24 13.35q-3.6 0-6.15 2.525Q15.3 18.4 15.3 22v8.35q0 3.6 2.55 6.125T24 39Zm-2.5-7h5.05q.6 0 1.025-.425Q28 31.15 28 30.5q0-.65-.425-1.075Q27.15 29 26.5 29h-5.05q-.6 0-1.025.425Q20 29.85 20 30.5q0 .65.425 1.075Q20.85 32 21.5 32Zm0-8.65h5.05q.6 0 1.025-.425Q28 22.5 28 21.85q0-.65-.425-1.075-.425-.425-1.075-.425h-5.05q-.6 0-1.025.425Q20 21.2 20 21.85q0 .65.425 1.075.425.425 1.075.425ZM24 26.2h.025H24h.025H24h.025H24h.025H24Z" />
        </svg>
        <div class="max">
            <h5>Report</h5>
            <p>Report problems or share ideas for improvements.</p>
            <div class="small-space"></div>
            <p class="italic small-text">{{ . }}</p>
            <nav>
                <a href="https://{{ . }}" class="border chip" target="_blank" rel="noopener">
                    Open
                    <svg viewbox="0 0 48 48" class="material-symbol">
                        <path
                            d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
                    </svg>
                </a>
            </nav>
        </div>
    </div>
</article>
{{ end }}

{{ with .Params.source }}
<article class="medium-width left-align center">
    <div class="row">
        <svg viewbox="0 0 48 48" class="material-symbol square medium">
            <path
                d="M32.95 34.95q-.45.45-1.05.425-.6-.025-1.05-.475-.45-.45-.45-1.075t.45-1.075l8.85-8.85-8.8-8.8q-.45-.45-.425-1.075.025-.625.475-1.075.45-.45 1.075-.45t1.075.45l9.85 9.9q.45.45.45 1.05 0 .6-.45 1.05Zm-18-.15-9.9-9.85q-.45-.45-.45-1.05 0-.6.45-1.05l10-10q.45-.45 1.075-.45t1.075.45q.45.45.45 1.075T17.2 15l-8.9 8.9 8.8 8.8q.45.45.45 1.05 0 .6-.45 1.05-.45.45-1.075.45t-1.075-.45Z" />
        </svg>
        <div class="max">
            <h5>Source code</h5>
            <p>{{ $.Params.name }} is a free and open source software.</p>
            <div class="small-space"></div>
            <p class="italic small-text">{{ . }}</p>
            <nav>
                <a href="https://{{ . }}" class="border chip" target="_blank" rel="noopener">
                    Open
                    <svg viewbox="0 0 48 48" class="material-symbol">
                        <path
                            d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
                    </svg>
                </a>
            </nav>
        </div>
    </div>
</article>
{{ end }}

{{ with .GetPage (printf "%s/%s" "privacy" .Params.name) }}
<article class="medium-width left-align center">
    <div class="row">
        <svg viewbox="0 0 48 48" class="material-symbol square medium">
            <path
                d="M 24,25.5 Q 21.1,25.5 19.125,23.525 17.15,21.55 17.15,18.65 17.15,15.75 19.125,13.775 21.1,11.8 24,11.8 26.9,11.8 28.875,13.775 30.85,15.75 30.85,18.65 30.85,21.55 28.875,23.525 26.9,25.5 24,25.5 Z M 24,22.5 Q 25.7,22.5 26.775,21.425 27.85,20.35 27.85,18.65 27.85,16.95 26.775,15.875 25.7,14.8 24,14.8 22.3,14.8 21.225,15.875 20.15,16.95 20.15,18.65 20.15,20.35 21.225,21.425 22.3,22.5 24,22.5 Z M 24,43.95 Q 17,42.2 12.5,35.825 8,29.45 8,21.85 V 9.95 L 24,3.95 40,9.95 V 21.85 Q 40,29.45 35.5,35.825 31,42.2 24,43.95 Z M 24,24 Z M 24,7.15 11,12.05 V 21.85 Q 11,25 11.875,27.875 12.75,30.75 14.35,33.2 16.65,31.95 19.025,31.325 21.4,30.7 24,30.7 26.6,30.7 28.975,31.325 31.35,31.95 33.65,33.2 35.25,30.75 36.125,27.875 37,25 37,21.85 V 12.05 Z M 24,33.7 Q 22.05,33.7 20.1,34.2 18.15,34.7 16.25,35.7 17.85,37.45 19.8,38.775 21.75,40.1 24,40.85 26.25,40.1 28.2,38.775 30.15,37.45 31.75,35.7 29.85,34.7 27.9,34.2 25.95,33.7 24,33.7 Z" />
        </svg>
        <div class="max">
            <h5>Privacy Policy</h5>
            <nav>
                <a href="{{ .RelPermalink }}" class="border chip">
                    Read
                    <svg viewbox="0 0 48 48" class="material-symbol">
                        <path
                            d="M22.95 38.9q-.4-.4-.4-1.05t.4-1.05l11.3-11.3H9.5q-.65 0-1.075-.425Q8 24.65 8 24q0-.65.425-1.075Q8.85 22.5 9.5 22.5h24.75l-11.3-11.3q-.4-.4-.4-1.075 0-.675.4-1.075.4-.4 1.05-.4t1.05.4l13.9 13.9q.25.25.35.5.1.25.1.55 0 .25-.1.525t-.35.525l-13.9 13.9q-.4.4-1.05.375-.65-.025-1.05-.425Z" />
                    </svg>
                </a>
            </nav>
        </div>
    </div>
</article>
{{ end }}

<div class="small-space"></div>
{{ end }}
