{{ define "title" }}Privacy{{ end }}
{{ define "heading" }}Privacy{{ end }}

{{ define "content" }}
<div class="medium-space"></div>

<section class="large-text">
    <h3>Website Privacy Policy</h3>
    {{ .Content }}
</section>

<div class="medium-space"></div>

<section class="large-text">
    <h3>Privacy Policies of software</h3>
    <div class="row vertical">
        {{ range where site.RegularPages "Type" "=" "privacy" }}
        <article class="medium-width">
            <div class="row max">
                {{ with .Site.GetPage (printf "/projects/%s" (lower .Page.File.ContentBaseName)) }}
                    <img class="large" src="{{ relURL (printf "logos/%s" .Params.icon) }}">
                    <div class="max">
                        <h6>{{ .Params.name }}</h6>
                    </div>
                {{ end }}
                <a href="{{ .RelPermalink }}" class="light-blue-border button border">
                    Read
                    <svg viewbox="0 0 48 48" class="material-symbol">
                        <path
                            d="M22.95 38.9q-.4-.4-.4-1.05t.4-1.05l11.3-11.3H9.5q-.65 0-1.075-.425Q8 24.65 8 24q0-.65.425-1.075Q8.85 22.5 9.5 22.5h24.75l-11.3-11.3q-.4-.4-.4-1.075 0-.675.4-1.075.4-.4 1.05-.4t1.05.4l13.9 13.9q.25.25.35.5.1.25.1.55 0 .25-.1.525t-.35.525l-13.9 13.9q-.4.4-1.05.375-.65-.025-1.05-.425Z" />
                    </svg>
                </a>
            </div>
        </article>
        {{ end }}
    </div>
</section>
{{ end }}
