{{ define "title" }}
    {{ (.Site.GetPage (printf "/projects/%s" (lower .Page.File.ContentBaseName))).Params.name }} Privacy Policy
{{ end }}
{{ define "heading" }}
    Privacy Policy for {{ (.Site.GetPage (printf "/projects/%s" (lower .Page.File.ContentBaseName))).Params.name }}
{{ end }}

{{ define "content" }}
<div class="small-space"></div>
<img class="small-width small-height center" src="{{ relURL (printf "logos/%s" (.Site.GetPage (printf "/projects/%s" (lower .Page.File.ContentBaseName))).Params.icon) }}">
<section class="large-text">
    {{ .Content }}
</section>
{{ end }}
