<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="about:blank">
    <link rel="stylesheet" href="{{ relURL "simple.min.css"}}">
    <title>{{ block "title" . }}{{ .Page.Title }}{{ end }}</title>
</head>

<body>
    <header>
        {{ if eq .RelPermalink (relURL "docs/") }}
            <h2>Documentation</h2>
        {{ else }}
            <h2>{{ block "heading" . }}{{ end }}</h2>
            <p>Documentation</p>
        {{ end }}
        <nav>
            <a href="{{ relURL "" }}">Home</a>
            {{ if ne .RelPermalink (relURL "docs/") }}
                {{ with .GetPage "docs" }}
                    <a href="{{ .RelPermalink }}">Docs</a>
                {{ end }}        
            {{ end }}
        </nav>
    </header>
    <main>
        {{ if ne .RelPermalink (relURL "docs/") }}
            <h1><center>{{ block "subheading" . }}{{ end }}</center></h1>
        {{ end }}
        {{ block "content" . }}{{ end }}
    </main>
    <footer>
        <a href="{{ relURL "privacy" }}">Privacy</a>
    </footer>
</body>

</html>