{{ define "title" }}{{ .Title }}{{ end }}
{{ define "heading" }}{{ .Title }}{{ end }}

{{ define "content" }}
<article class="large-width center">
  <table class="border large-space transparent">
    <tbody>
      <tr>
        <td class="min right-align">
          LiberaPay
        </td>
        <td>
          <a class="link" href="https://liberapay.com/tom79/donate" rel="me noopener noreferrer nofollow">liberapay.com/tom79/donate</a>
        </td>
      </tr>
      <tr>
        <td class="min right-align">
          Open Collective
        </td>
        <td>
          <a class="link" href="https://opencollective.com/fedilab" rel="me noopener noreferrer nofollow">opencollective.com/fedilab</a>
        </td>
      </tr>
      <tr>
        <td class="min right-align">
          PayPal
        </td>
        <td>
          <a class="link" href="https://www.paypal.me/Mastalab" rel="me noopener noreferrer nofollow">paypal.me/Mastalab</a>
        </td>
      </tr>
      <tr>
        <td class="min right-align">
          Bitcoin
        </td>
        <td>
          <a class="link" href="bitcoin:3JDoJV7qf8fcmrUeYbT7hrH91PUQpg8HhS?label=fedilab" rel="me noopener noreferrer nofollow">3JDoJV7qf8fcmrUeYbT7hrH91PUQpg8HhS</a>
        </td>
      </tr>
    </tbody>
  </table>
</article>
<div class="medium-space"></div>
{{ end }}

