{{ define "heading" }}:){{ end }}

{{ define "content" }}
{{ with .GetPage "projects/Fedilab" }}
<div class="medium-space"></div>

<img class="small-width small-height center" src="{{ relURL (printf "logos/%s" .Params.icon) }}">

<h3 class="center-align">{{ .Params.name }}</h3>
<p class="large-text center-align">{{ .Params.description }}</p>
<nav class="center-align">
    <a href="{{ .RelPermalink }}" class="light-blue-border button border">
        More
        <svg viewbox="0 0 48 48" class="material-symbol">
            <path
                d="M22.95 38.9q-.4-.4-.4-1.05t.4-1.05l11.3-11.3H9.5q-.65 0-1.075-.425Q8 24.65 8 24q0-.65.425-1.075Q8.85 22.5 9.5 22.5h24.75l-11.3-11.3q-.4-.4-.4-1.075 0-.675.4-1.075.4-.4 1.05-.4t1.05.4l13.9 13.9q.25.25.35.5.1.25.1.55 0 .25-.1.525t-.35.525l-13.9 13.9q-.4.4-1.05.375-.65-.025-1.05-.425Z" />
        </svg>
    </a>
</nav>

<div class="medium-space"></div>
<div class="small-divider"></div>
{{ end }}
<div class="small-space"></div>
<h4 class="center-align">We maintain also these</h4>
<p class="large-text center-align">All these are free and open-source projects</p>
<div class="row wrap center-align">
    {{ range where (where site.RegularPages "Type" "=" "projects") "Params.name" "!=" "Fedilab" }}
    <article class="medium-width left-align">
        <div class="row">
            <img class="large" src="{{ relURL (printf "logos/%s" .Params.icon) }}">
            <div class="max">
                <h5>{{ .Params.name }}</h5>
                <p>{{ .Params.description }}</p>
            </div>
        </div>
        <nav>
            <a href="{{ .RelPermalink }}" class="light-blue-border button border center">
                More
                <svg viewbox="0 0 48 48" class="material-symbol">
                    <path
                        d="M22.95 38.9q-.4-.4-.4-1.05t.4-1.05l11.3-11.3H9.5q-.65 0-1.075-.425Q8 24.65 8 24q0-.65.425-1.075Q8.85 22.5 9.5 22.5h24.75l-11.3-11.3q-.4-.4-.4-1.075 0-.675.4-1.075.4-.4 1.05-.4t1.05.4l13.9 13.9q.25.25.35.5.1.25.1.55 0 .25-.1.525t-.35.525l-13.9 13.9q-.4.4-1.05.375-.65-.025-1.05-.425Z" />
                </svg>
            </a>
        </nav>
    </article>
    {{ end }}
</div>

<div class="medium-space"></div>
<div class="small-divider"></div>
<div class="small-space"></div>
<h4 class="center-align">You can help. Here's how...</h4>
<div class="row vertical center-align">
    <article class="large-width left-align">
        <div class="row">
            <svg viewbox="0 0 48 48" class="material-symbol square medium">
                <path
                    d="M26.55 44q-1.15 0-1.675-.75-.525-.75-.125-1.85l7.35-19.5q.3-.8 1.1-1.35t1.65-.55q.85 0 1.675.55.825.55 1.125 1.35l7.5 19.3q.45 1.15-.1 1.975Q44.5 44 43.2 44q-.55 0-1.05-.35t-.7-.9L39.8 37.7h-9.6l-1.9 5.1q-.2.5-.7.85-.5.35-1.05.35Zm4.75-9.8h7.1l-3.5-9.7h-.1ZM14.45 17.1q.75 1.3 1.65 2.525.9 1.225 1.95 2.525 2.25-2.35 3.75-4.875T24.35 12H4q-.85 0-1.425-.575Q2 10.85 2 10q0-.85.575-1.425Q3.15 8 4 8h12V6q0-.85.575-1.425Q17.15 4 18 4q.85 0 1.425.575Q20 5.15 20 6v2h12q.85 0 1.425.575Q34 9.15 34 10q0 .85-.575 1.425Q32.85 12 32 12h-3.65q-1.1 3.45-2.925 6.775Q23.6 22.1 20.95 25.1l4.9 4.95-1.5 4.05L18 28l-8.65 8.65q-.55.55-1.35.55t-1.35-.6q-.6-.55-.6-1.35t.6-1.4l8.8-8.8q-1.3-1.55-2.45-3.125-1.15-1.575-2.1-3.225-.6-1.1-.1-1.9.5-.8 1.8-.8.55 0 1.075.325.525.325.775.775Z" />
            </svg>
            <div class="max">
                <h5>Translate</h5>
                <p>You can help translate our projects into your language. For links, view a project above and scroll to
                    its 'Translations' section.</p>
            </div>
        </div>
    </article>

    <article class="large-width left-align">
        <div class="row">
            <svg viewbox="0 0 48 48" class="material-symbol square medium">
                <path
                    d="M24 42q-3.25 0-6.05-1.55T13.8 36H9.45q-.6 0-1.025-.45Q8 35.1 8 34.5q0-.65.425-1.075Q8.85 33 9.5 33h3.1q-.35-1.3-.35-2.625V27.7H9.4q-.6 0-1.025-.45-.425-.45-.425-1.05 0-.65.425-1.075Q8.8 24.7 9.45 24.7h2.8q0-1.45.025-2.875T12.7 19H9.45q-.6 0-1.025-.45Q8 18.1 8 17.5q0-.65.425-1.075Q8.85 16 9.5 16H14q.7-1.4 1.85-2.45Q17 12.5 18.4 11.8l-2.9-2.85q-.4-.4-.375-.975.025-.575.425-.975.4-.4 1-.4t1 .4l3.7 3.7q1.4-.5 2.825-.5 1.425 0 2.825.5l3.75-3.75q.4-.4.975-.375.575.025.975.425.4.4.4 1t-.4 1l-2.8 2.8q1.4.7 2.475 1.775Q33.35 14.65 34.15 16h4.45q.6 0 1.025.45.425.45.425 1.05 0 .65-.425 1.075Q39.2 19 38.55 19H35.3q.45 1.4.425 2.825Q35.7 23.25 35.7 24.7h2.9q.6 0 1.025.45.425.45.425 1.05 0 .65-.425 1.075-.425.425-1.075.425H35.7q0 1.35.025 2.675Q35.75 31.7 35.4 33h3.2q.6 0 1.025.45.425.45.425 1.05 0 .65-.425 1.075Q39.2 36 38.55 36h-4.3q-1.3 2.95-4.125 4.475Q27.3 42 24 42Zm0-3q3.6 0 6.15-2.525 2.55-2.525 2.55-6.125V22q0-3.6-2.55-6.125T24 13.35q-3.6 0-6.15 2.525Q15.3 18.4 15.3 22v8.35q0 3.6 2.55 6.125T24 39Zm-2.5-7h5.05q.6 0 1.025-.425Q28 31.15 28 30.5q0-.65-.425-1.075Q27.15 29 26.5 29h-5.05q-.6 0-1.025.425Q20 29.85 20 30.5q0 .65.425 1.075Q20.85 32 21.5 32Zm0-8.65h5.05q.6 0 1.025-.425Q28 22.5 28 21.85q0-.65-.425-1.075-.425-.425-1.075-.425h-5.05q-.6 0-1.025.425Q20 21.2 20 21.85q0 .65.425 1.075.425.425 1.075.425ZM24 26.2h.025H24h.025H24h.025H24h.025H24Z" />
            </svg>
            <div class="max">
                <h5>Report</h5>
                <p>If you find problems (bugs) in our software, you can report them, so they can be fixed for everyone.
                    If you have any ideas on how something can be improved, you can share those too. For links, view a
                    project above and scroll to its 'Report' section.</p>
            </div>
        </div>
    </article>

    <article class="large-width left-align">
        <div class="row">
            <svg viewbox="0 0 48 48" class="material-symbol square medium">
                <path
                    d="M32.3 24.5q-.35 0-.65-.1-.3-.1-.55-.35-4.35-3.9-7.425-7.45Q20.6 13.05 20.6 10q0-2.6 1.75-4.35Q24.1 3.9 26.7 3.9q1.5 0 2.975.825T32.3 6.95q1.15-1.4 2.625-2.225Q36.4 3.9 37.9 3.9q2.6 0 4.35 1.75Q44 7.4 44 10q0 3.05-3.075 6.6T33.5 24.05q-.25.25-.55.35-.3.1-.65.1Zm0-3.55q3.3-3 6-5.95t2.7-5q0-1.35-.875-2.225T37.9 6.9q-.85 0-1.675.4-.825.4-1.675 1.5l-2.25 2.75-2.25-2.75q-.85-1.1-1.675-1.5-.825-.4-1.675-.4-1.35 0-2.225.875T23.6 10q0 2.05 2.7 5t6 5.95ZM28.1 41.8l12.4-3.9q-.3-.4-.75-1.025-.45-.625-1.05-.625H26.8q-.1 0-.9-.075t-1.55-.425l-3.3-1q-.6-.2-.9-.8-.3-.6-.1-1.2.2-.6.775-.9.575-.3 1.175-.05l4.65 1.55q-.1 0 .725-.05t2.375-.05H30.2q0-.6-.225-1.175-.225-.575-.775-.825L16.95 26.6h-4.2v10.7Zm-.65 2.85-14.7-4.2q-.1 1.35-1.125 2.1t-1.875.75H5q-1.25 0-2.125-.875T2 40.3V26.6q0-1.25.875-2.125T5 23.6h11.9q.25 0 .525.05t.525.15l12.25 4.6q1.35.5 2.275 1.625.925 1.125.925 3.225h5.7q2.1 0 3.5 1.5T44 38.8q0 .55-.25.975-.25.425-.8.625l-13.8 4.25q-.4.1-.85.1-.45 0-.85-.1ZM32.3 13.9ZM5 40.3h4.7V26.6H5Z" />
            </svg>
            <div class="max">
                <h5>Donate</h5>
                <p>You can donate to us, if you like our work. It helps us cover the costs of running servers, and makes
                    our lives easier.</p>
                <div class="row wrap">
                    <a href="https://liberapay.com/tom79/donate" class="border chip" target="_blank" rel="noopener">
                        LiberaPay
                        <svg viewbox="0 0 48 48" class="material-symbol">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
                        </svg>
                    </a>
                    <a href="https://opencollective.com/fedilab" class="border chip" target="_blank" rel="noopener">
                        Open Collective
                        <svg viewbox="0 0 48 48" class="material-symbol">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
                        </svg>
                    </a>
                    <a href="https://www.paypal.me/Mastalab" class="border chip" target="_blank" rel="noopener">
                        PayPal
                        <svg viewbox="0 0 48 48" class="material-symbol">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
                        </svg>
                    </a>
                    <a href="bitcoin:3JDoJV7qf8fcmrUeYbT7hrH91PUQpg8HhS?label=fedilab" class="border chip" target="_blank" rel="noopener">
                        Bitcoin
                        <svg viewbox="0 0 48 48" class="material-symbol">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h12.45q.65 0 1.075.425.425.425.425 1.075 0 .65-.425 1.075Q22.1 9 21.45 9H9v30h30V26.55q0-.65.425-1.075.425-.425 1.075-.425.65 0 1.075.425Q42 25.9 42 26.55V39q0 1.2-.9 2.1-.9.9-2.1.9Zm9.05-12.05q-.4-.45-.425-1.05-.025-.6.425-1.05L36.9 9h-9.45q-.65 0-1.075-.425-.425-.425-.425-1.075 0-.65.425-1.075Q26.8 6 27.45 6H40.5q.65 0 1.075.425Q42 6.85 42 7.5v13.05q0 .65-.425 1.075-.425.425-1.075.425-.65 0-1.075-.425Q39 21.2 39 20.55v-9.4L20.15 30q-.4.4-1.025.4-.625 0-1.075-.45Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </article>
</div>
<div class="medium-space"></div>
<div class="small-divider"></div>
<div class="small-space"></div>
<div class="row vertical center-align">
    <h4 class="center-align">You have questions? Contact us</h4>
    <article class="large-width left-align">
        <div class="row">
            <svg viewbox="0 0 48 48" class="material-symbol square medium">
                <path
                    d="m25.75 44-.5-5.5h-2q-7.15 0-12.2-5.05Q6 28.4 6 21.25q0-7.15 5.075-12.2Q16.15 4 23.35 4q3.55 0 6.575 1.275Q32.95 6.55 35.2 8.85q2.25 2.3 3.525 5.425T40 21.1q0 6.7-3.775 12.925Q32.45 40.25 25.75 44Zm-2.4-11.15q.8 0 1.35-.55t.55-1.35q0-.8-.55-1.35t-1.35-.55q-.8 0-1.35.55t-.55 1.35q0 .8.55 1.35t1.35.55Zm-.1-6.8q.5 0 .875-.35t.475-.9q.15-.7.625-1.35.475-.65 1.475-1.65 1.35-1.35 1.9-2.475.55-1.125.55-2.425 0-2.25-1.525-3.7-1.525-1.45-4.075-1.45-1.75 0-3.225.775T17.95 14.7q-.3.45-.1.925.2.475.75.725.4.15.85 0 .45-.15.75-.55.55-.8 1.375-1.175t1.825-.375q1.5 0 2.35.725.85.725.85 1.925 0 .95-.55 1.925-.55.975-1.95 2.425-1.05 1.1-1.5 1.825-.45.725-.55 1.725-.05.5.3.875t.9.375Zm5 9.45v3.1q4.1-3.45 6.425-8.125T37 21.1q0-6.2-3.875-10.15T23.35 7q-6 0-10.175 4.175Q9 15.35 9 21.25q0 5.9 4.175 10.075Q17.35 35.5 23.25 35.5ZM23 22.8Z" />
            </svg>
            <div class="max">
                <h5>Contact</h5>
                <p>If you have any questions you want to ask, you can contact us using these...</p>
                <div class="small-space"></div>
                <table class="border transparent">
                    <tbody>
                        <tr>
                            <td class="min">
                                Fediverse
                            </td>
                            <td>
                                <a class="link" href="https://toot.fedilab.app/@apps"
                                    rel="me noopener noreferrer nofollow">toot.fedilab.app/@apps</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="min">
                                Matrix
                            </td>
                            <td>
                                <a class="link" href="https://matrix.to/#/#fedilab_apps:matrix.org"
                                    rel="noopener noreferrer nofollow">matrix.to/#/#fedilab_apps:matrix.org</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</div>
{{ end }}
