article .material-symbol path {
    fill: var(--on-surface-variant)
}
.material-symbol path {
    fill: var(--on-secondary);
}
.border .material-symbol path {
    fill: var(--secondary)
}
ul {
    padding: revert;
}
